In [5]:
# Dependencies
import pandas as pd
import numpy as np

In [6]:
# CSV location 

summer = 'SummerOlympicMedals.csv'

In [7]:
#Reading CSV, Selecting columns, Renaming 
df_summer = pd.read_csv(summer, encoding="ISO-8859-1")
df_summer = df_summer[["City","Edition","Sport","Discipline","Athlete","NOC","Gender","Event","Medal"]]
df_summer = df_summer.rename(columns={"City":"city_host", "Edition":"year","Sport":"sport","Discipline":"discipline","Athlete":"athlete","NOC":"country_code","Gender":"gender","Event":"event","Medal":"medal"})
df_summer.head()

,city_host,year,sport,discipline,athlete,country_code,gender,event,medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,Silver

In [13]:
#Identifying unique discipline
discipline_list = []
for i in range(0, len(df_summer)):
    if isinstance(df_summer['discipline'][i] str):
        discipline = df_summer['discipline'][i].split(', ')
        for j in range(0, len(discipline)):
            if discipline[j] not in discipline_list:
                discipline_list.append(discipline[j])

#Creating columns in df with all unique genres
for discipline in discipline_list:
    discipline['discipline_'+ discipline] = np.nan

SyntaxError: invalid syntax (<ipython-input-13-7eee4277c757>, line 4)

In [ ]:
discipline_df= pd.DataFrame({'discipline': range(0,len())})

In [28]:
# Cleaning data 

# Checking there ara not missing values
summ_df= df_summer.count()
summ_df

city_host       29216
year            29216
sport           29216
discipline      29216
athlete         29216
country_code    29216
gender          29216
event           29216
medal           29216
dtype: int64

In [33]:
summ_df.head(20)

city_host       29216
year            29216
sport           29216
discipline      29216
athlete         29216
country_code    29216
gender          29216
event           29216
medal           29216
dtype: int64

In [36]:
df_summer_men= df_summer.loc[df_summer["gender"]=="Men"]
df_summer_men

,city_host,year,sport,discipline,athlete,country_code,gender,event,medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,Silver
...,...,...,...,...,...,...,...,...,...
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,Silver

In [39]:
# Droping years leaving 1948-2008
summ_years_df= df_summer.set_index("year")
summ_years_df

,city_host,sport,discipline,athlete,country_code,gender,event,medal
year,,,,,,,,
1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,Gold
1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,Silver
1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,Bronze
1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,Gold
1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,Silver
...,...,...,...,...,...,...,...,...
2008,Beijing,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,Silver

In [43]:
df_summer_elim=df_summer.loc[df_summer["year"]<1948]
df_summer_elim

,city_host,year,sport,discipline,athlete,country_code,gender,event,medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,Silver
...,...,...,...,...,...,...,...,...,...
7199,Berlin,1936,Wrestling,Wrestling Gre-R,"JOHANSSON, Ivar",SWE,Men,72 - 79kg (middleweight),Gold
7200,Berlin,1936,Wrestling,Wrestling Gre-R,"SCHWEIKERT, Ludwig",GER,Men,72 - 79kg (middleweight),Silver
7201,Berlin,1936,Wrestling,Wrestling Gre-R,"NEO, Ago (August)",EST,Men,79 - 87kg (light-heavyweight),Bronze
7202,Berlin,1936,Wrestling,Wrestling Gre-R,"CADIER, Axel",SWE,Men,79 - 87kg (light-heavyweight),Gold
7203,Berlin,1936,Wrestling,Wrestling Gre-R,"BIETAGS, Edwins",LAT,Men,79 - 87kg (light-heavyweight),Silver

In [ ]:
df_summer_elim=

In [46]:
index_years_df= df_summer[df_summer["year"]< 1948].index
index_years_df

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            7194, 7195, 7196, 7197, 7198, 7199, 7200, 7201, 7202, 7203],
           dtype='int64', length=6803)

In [49]:
years_df= index_years_df.drop(index_years_df)
years_df

Int64Index([], dtype='int64')